@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
background: #E44D26;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.track-on-window {
}

button {
  cursor: pointer;
}
